body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(images/Baggrund.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 4em;
  margin: 0;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;

  display: grid;
  grid-template: 100% / 100%;
}

/* #game_background {
  grid-area: 1 /1;
  background-size: cover;

  background-image: url(images/Baggrund.jpg);
} */

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #ff0303 0%, #790909 100%);
  color: #ffffff;
}

#level_complete,
#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #7da676 30%, #fb5908 100%);
  color: #ffffff;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

/* positioning elements */

#coin1_container {
  position: absolute;
  width: 7vw;

  top: 0;
  left: 45vw;
}
#coin1_sprite {
  width: 100%;
}
#coin2_container {
  position: absolute;
  width: 9vw;
  top: 0;
  left: 40vw;
}

#coin2_sprite {
  width: 100%;
}

#coin3_container {
  position: absolute;
  width: 7vw;
  top: 0;
  left: 70vw;
}

#coin3_sprite {
  width: 100%;
}

#coin4_container {
  position: absolute;
  width: 10vw;
  top: 0;
  left: 58vw;
}

#coin4_sprite {
  width: 100%;
}

#bomb1_container {
  position: absolute;
  width: 5vw;
  top: 0;
  left: 30vw;
}

#bomb1_sprite {
  width: 100%;
}

#bomb2_container {
  position: absolute;
  width: 9vw;
  top: 0;
  left: 10vw;
}

#bomb2_sprite {
  width: 100%;
}

#heart_container {
  position: absolute;
  width: 5vw;
  top: 0;
  left: 55vw;
}

#heart_sprite {
  width: 100%;
}

/* position classes */
.position1 {
  left: 10vw;
}

.position2 {
  left: 40vw;
}

.position3 {
  left: 70vw;
}

.position4 {
  left: 30vw;
}

.position5 {
  left: 55vw;
}

/* UI */
#game_ui {
  position: absolute;
  top: 1vw;
  right: 1vw;
  color: white;
  font-size: 200%;

  display: grid;
  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 0.5em 0.5em;
  gap: 0.1em;
  transform: right;
}
#coin_count {
  white-space: nowrap;
  text-align: right;
}

#coin_image_sprite {
  width: 6em;
  /* position: absolute; */
  margin-top: -2vw;
}

#life_board {
  margin-block-start: 0.1em;
  margin-top: -5vw;
  display: grid;
  grid-template-columns: 2em 2em 2em;
}

#life_board img {
  width: 90%;
}

.active_heart {
  filter: drop-shadow(0 0 6px rgb(255, 0, 251));
}

.broken_heart {
  filter: grayscale(50%) blur(0.5px);
}

/* Animations */

.running {
  animation-name: running;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes running {
  0% {
    transform: translate(0, 50vw);
  }

  45% {
    transform: translate(-20vw, -5vw);
  }
  100% {
    transform: translate(20vw, 25vw);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_in {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  90% {
    transform: translate(100%, 0) scale(12) rotate(720deg);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0) scale(10) rotate(900deg);
    opacity: 0;
  }
}

.spiral {
  animation-name: spiral;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 50% 150%;
}

@keyframes spiral {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(720deg) scale(0);
  }
}

.paused {
  animation-play-state: paused;
}

@keyframes pulse_kf {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

button {
  padding: 0.5em 1em;
  font-size: 6em;
  margin: auto;
  background-color: #4463eb;
  color: #fff4bf;
  border: 4px solid #e62727;
  cursor: grab;
  border-radius: 10px;
}
