body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(images/Baggrund.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 4em;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;

  display: grid;
  grid-template: 100% / 100%;
}

/* #game_background {
  grid-area: 1 /1;
  background-size: cover;

  background-image: url(images/Baggrund.jpg);
} */

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

.hidden,
#game_over.hidden,
#level_complete.hidden {
  display: none;
}

/* positioning elements */

#coin1_container {
  position: absolute;
  transform: rotate(22deg);
  scale: 50%;
  top: 0;
  left: 30vw;
}
#coin1_sprite {
  scale: 38%;
}
#coin2_container {
  position: absolute;
  scale: 45%;
  top: 0;
  left: 40vw;
}

#coin2_sprite {
  width: 100%;
}

#coin3_container {
  position: absolute;
  scale: 70%;
  top: 0;
  left: 70vw;
}

#coin3_sprite {
  width: 100%;
}
#coin4_container {
  position: absolute;
  scale: 70%;
  top: 0;
  left: 70vw;
}

#coin4_sprite {
  width: 70%;
}

#bomb1_container {
  position: absolute;
  scale: 30%;
  top: 0;
  left: 30vw;
}

#bomb1_sprite {
  width: 100%;
}

#bomb2_container {
  position: absolute;
  scale: 35%;
  top: 0;
  left: 10vw;
}

#bomb2_sprite {
  width: 100%;
}

#heart_container {
  position: absolute;
  scale: 10%;
  top: 0;
  left: 55vw;
}

#heart_sprite {
  width: 100%;
}

/* UI */
#game_ui {
  position: absolute;
  top: 1vw;
  right: 1vw;
  color: white;
  font-size: 200%;

  display: grid;
  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 0.5em 0.5em;
  gap: 0.1em;
  transform: right;
}
/* #coin_count {
  white-space: nowrap;
  text-align: right;
} */

#coin_image {
  width: 5em;
}

#life_board {
  margin-block-start: 0.1em;
  display: grid;
  grid-template-columns: 2em 2em 2em;
}

#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 6px rgb(255, 0, 251));
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* Animations */

.running {
  animation-name: running;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes running {
  0% {
    transform: translate(0, 100vw);
  }
  20% {
    transform: translate(-20vw, 40vw);
  }
  50% {
    transform: translate(20vw, 40vw);
  }
  100% {
    transform: translate(0, -30vw);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_in {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  90% {
    transform: translate(100%, 0) scale(12) rotate(720deg);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0) scale(10) rotate(900deg);
    opacity: 0;
  }
}

.spiral {
  animation-name: spiral;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 50% 150%;
}

@keyframes spiral {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(720deg) scale(0);
  }
}

.paused {
  animation-play-state: paused;
}
