body {
  margin: 0;
}
#screen {
  aspect-ratio: 16/9;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  position: absolute;
  width: 100vw;
}
#game_background {
  position: absolute;
  width: 100%;
  grid-area: 1/1;
  aspect-ratio: 16/12;
  background-image: url(images/Baggrund.jpg);
  background-size: cover;
}
#game_foreground {
  position: absolute;
  width: 100%;
  grid-area: 1/1;
  aspect-ratio: 16/12;
  background-image: url(images/Forgrund.png);
}
#Mai {
  size: 0.5;
  top: 0%;
  position: absolute;
}
